crack_hardware_client/bin
crack_hardware_client/.vs
crack_hardware_client/obj
crack_hardware_client/obj/Debug/CrackHardware.pdb
crack_hardware_client/obj/Debug/CrackHardware.csproj.FileListAbsolute.txt
crack_hardware_client/obj/Debug/CrackHardware.csprojAssemblyReference.cache
crack_hardware_client/obj/Debug/CrackHardware.exe
crack_hardware_client/obj/Debug/CrackHardware.pdb
crack_hardware_client/obj/Debug/CrackHardware.pdb
crack_hardware_client/obj/Debug/CrackHardware.exe
crack_hardware_client/obj/Debug/CrackHardware.csprojAssemblyReference.cache
crack_hardware_client/obj/Debug/CrackHardware.csproj.FileListAbsolute.txt
crack_hardware_client/obj/Debug/CrackHardware.csproj.FileListAbsolute.txt
